/* =================================================================
 Component 1 (Clients)
===================================================================*/

.clientsContainer {
  height: 95vh;
  /* width: 99vw; */
}

.clientIntro {
  padding-top: 100px;
  width: 85vw;
  margin: 0 auto;
  text-align: left;
}

.clientIntroItem h1 {
  font-size: 48px;
  padding-bottom: 20px;
  color: #f5b921;
  font-weight: bolder;
}

.clientIntroItem p {
  font-size: 24px;
  color: whitesmoke;
}

.clientIntroItem button {
  height: 40px;
  width: 100px;
  border-radius: 2px;
  background-color: #2b3033;
  color: whitesmoke;
  font-weight: bold;
  color: #f5b921;
}

.clientIntroItem button:hover {
  cursor: pointer;
  color: whitesmoke;
  transition: 0.3s;
}

/* =================================================================
 Component 2 (Clients 2)
===================================================================*/
.whyUsContainer {
  padding-top: 100px;
  color: whitesmoke;
}

.whyUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
  padding-top: 80px;
  gap: 40px;
  width: 80vw;
}

.whyUsIntro {
  width: 90vw;
  margin: 0 auto;
}

.whyUsIntro h1 {
  font-size: 48px;
}

.whyUsIntro p {
  font-size: 24px;
  padding-top: 10px;
}

.whyUsItem {
  display: flex;
  justify-content: center;
}

.whyUsItem div h6 {
  align-items: center;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 30px;
}

.whyUsItem div section {
  font-size: 16px;
  width: 30vw;
  text-align: left;
  padding-left: 30px;
}

.whyUsImg {
  font-size: 40px;
  padding-top: 7px;
  color: #f5b921;
}

.bulb {
  font-size: 45px;
}

/* Dynamics */

@media (max-width: 768px) {
  /* Clients2 */
  .whyUs {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px auto;
    padding-top: 30px;
    gap: 40px;
    width: 90vw;
  }

  .whyUsIntro h1 {
    font-size: 36px;
  }

  .whyUsIntro p {
    font-size: 18px;
  }

  .whyUsItem {
    width: 90vw;
  }

  .whyUsItem div {
    padding-top: 7px;
  }

  .whyUsItem div section {
    font-size: 16px;
    width: 80vw;
  }

  .whyUsItem div h6 {
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
  }

  .whyUsItem div section {
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
  }

  .whyUsImg {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  /* Clients1 */
  .clientIntro {
    padding-top: 60px;
  }

  .clientIntroItem h1 {
    font-size: 40px;
    font-weight: bolder;
  }
  .clientIntroItem p {
    font-size: 20px;
  }
}

/* =================================================================
 Component 3 (Clients 3)
===================================================================*/
.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  height: 10px !important;
  width: 10px !important;
  color: #f5b921 !important;
  fill: #f5b921 !important;
  stroke: #f5b921 !important;
}

.clientsSliderContainer {
  margin-top: 150px;
}

.clientsSliderContainer h1 {
  font-size: 48px;
  color: whitesmoke;
}

.swiper {
  margin-top: 50px;
  width: 90vw;
  height: 400px;
}

.swiper-pagination-bullet-active {
  background-color: #f5b921 !important;
}

.slideClientItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  /* gap: 50px; */
  height: 80%;
  align-items: center;
  /* margin-top: 100px; */
  color: whitesmoke;
}
.clientLogo {
  margin: 0 auto;
}

.clientDetails {
  text-align: left;
  /* margin-bottom: 80px; */
}

.clientDetails h6 {
  font-size: 38px;
}

.clientDetails p:first-of-type {
  font-size: 22px;
}

.clientDetails p:nth-of-type(2) {
  font-size: 22px;
  margin-top: 40px;
}

.clientDetails ul {
  font-size: 18px;
  /* margin-top: 15px; */
}

.clientDetails li {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .clientsSliderContainer h1 {
    font-size: 36px;
    color: whitesmoke;
  }

  .slideClientItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    /* gap: 50px; */
    height: 80%;
    align-items: center;
    /* margin-top: 100px; */
    color: whitesmoke;
  }

  .clientDetails h6 {
    font-size: 28px;
  }

  .clientDetails h6 {
    font-size: 28px;
  }

  .clientDetails p:first-of-type {
    font-size: 18px;
  }

  .clientDetails p:nth-of-type(2) {
    font-size: 18px;
    margin-top: 40px;
  }

  .clientDetails ul {
    font-size: 15px;
    /* margin-top: 15px; */
  }

  .slideClientItem section:first-of-type {
    height: 180px !important;
    width: 180px !important;
  }
}

@media (max-width: 480px) {
  .clientsSliderContainer h1 {
    font-size: 36px;
    color: whitesmoke;
  }

  .swiper {
    width: 100vw;
    height: 600px;
  }

  .slideClientItem {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    height: 80%;
    align-items: center;
  }

  .clientDetails {
    text-align: center;
    list-style-position: inside;
  }

  .clientDetails h6 {
    font-size: 24px;
  }

  .clientDetails h6 {
    font-size: 24px;
    text-align: left;
    width: 200px;
    margin: 0 auto;
  }

  .clientDetails p:first-of-type {
    font-size: 18px;
    text-align: left;
    width: 200px;
    margin: 0 auto;
  }

  .clientDetails p:nth-of-type(2) {
    font-size: 18px;
    /* margin-top: 10px; */
    width: 200px;
    margin: 10px auto;
    text-align: left;
  }

  .clientDetails ul {
    font-size: 15px;
    width: 220px;
    margin: 0 auto;
    text-align: left;
    /* margin-top: 15px; */
  }

  .slideClientItem section:first-of-type {
    height: 200px !important;
    width: 200px !important;
  }
}
