:root {
  --themeColor: #c69009;
}
.contactsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8vw;
}

.contactForm input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid grey;
  height: 35px;
  width: 40vw;
  padding-left: 10px;
  margin: 10px 0;
  color: black;
}

.contactForm input:hover {
  box-shadow: 0 0 10px whitesmoke;
  transition: 0.3s;
}

.contactsHeader {
  font-size: 48px;
  padding-top: 100px;
  padding-left: 8vw;
  margin-bottom: 20px;
  font-weight: bolder;
}

.contactsHeader span {
  color: var(--themeColor);
}

.contactsMsg {
  font-size: 26px;
  margin-bottom: 40px;
  padding-left: 8vw;
  text-align: left;
  width: 90vw;
}

#userMessage {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 5%;
  z-index: 10;
  height: 40px;
  width: 140px;
  margin: 0 auto;
  font-size: 24px;
  color: #f5b921;
  border: 1px solid black;
  background-color: #1f2224;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#userMessage.show {
  visibility: visible; /* Show the userMessage */
  /* Add animation: Take 0.5 seconds to fade in and out the userMessage.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.submitContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  font-size: 18px;
  height: 40px;
  width: 160px;
  background-color: #1f2224;
  color: whitesmoke;
  border: 1px solid black;
  margin-top: 20px;
}

.submitBtn:hover {
  background-color: #f5b921;
  cursor: pointer;
  transition: 0.3s;
}

/* ===============================
            Tablets
=============================== */
@media (max-width: 769px) {
  .contactsHeader {
    font-size: 36px;
  }

  .contactsMsg {
    font-size: 18px;
  }

  .submitBtn {
    font-size: 16px;
    height: 30px;
    width: 140px;
  }

  #userMessage {
    font-size: 20px;
    height: 38px;
    width: 120px;
  }
}

@media (max-width: 480px) {
  .contactsHeader {
    font-size: 36px;
    padding-top: 70px;
    padding-left: 8vw;
    text-align: left;
    width: 100vw;
  }

  .contactsMsg {
    font-size: 18px;
    /* width: 80vw; */
  }

  .contactForm {
    display: flex;
    width: 100vw;
    padding: 0;
    align-items: center;
  }

  .contactForm input {
    height: 30px;
  }

  .contactForm input {
    width: 85vw;
  }

  .submitContainer {
    display: flex;
    width: 85vw;
    padding: 0;
    margin: 0;
  }

  .submitBtn {
    font-size: 15px;
    height: 30px;
    width: 140px;
  }

  #userMessage {
    font-size: 16px;
    height: 30px;
    width: 100px;
  }
}
